<div class="form-group">
  <% @results.each do |x| %>
    <%= image_tag(x["profile_image_url_https"]) %>
    <br>ユーザー名</br>
      <%= x["name"] %>
    <br>スクリーンネーム</br>
      <%= x["screen_name"] %>
    <br>プロフィール</br>
      <%= x["description"] %>
    <br>フォロワー数</br>  
      <%= x["followers_count"] %>
    <br>フォロー数</br>
      <%= x["friends_count"] %>
    <br>Twitter開始時期</br>
      <%= x["created_at"] %>
    <%= button_to "フォロー", {controller: 'following_candidates', action: 'following', target_user_id: x["id"]}, {method: :post, name: 'following'} %>
  <% end %>
</div>
