<header class="header">
  <div class="header-inner">
    <div class="mt-1 mb-1 mx-1">
      <div class="container">
        <div class="row">
          <div class="col col-lg-8">
            <%= link_to root_path do %>
              <%= image_tag "follotter_icon.png", class: "follotter_icon" %>
            <% end %>
          </div>
          <div class="col-auto">
            <%= image_tag("#{current_user.profile_image_url}", class: 'rounded-circle mr15') %>
            <%= current_user.name %>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<main class="main">
  <div class="wrapper">
    <div class="container">
      <h4>ターゲット検索条件</h4>
      <div class="col-md-10 mt-3 mb-5">
        <%= form_with url: following_candidates_path, method: :get do |f| %>
          <div class="form-group">
            <h6><%= f.label :screen_name, "■検索するインフルエンサーのTwitter_id" %></h6>
            <p>@<%= f.text_field :screen_name, value: params[:screen_name], size: 15 %><span style="color:red"><sup>＊必須</sup></span><p><br>
          </div>
          <h6>■インフルエンサーのフォロワー抽出条件</h6>
          <div class="form-group">
            <%= f.label :followers_count_over, "フォロワー数" %><br>
            <%= f.number_field :followers_count_over, value: params[:followers_count_over], size: 15 %>以上
            <%= f.number_field :followers_count_less, value: params[:followers_count_less], size: 15 %>以下<br>
          </div>
          <div class="form-group">
            <%= f.label :friends_count_over, "フォロー数" %><br>
            <%= f.number_field :friends_count_over, value: params[:friends_count_over], size: 15 %>以上
            <%= f.number_field :friends_count_less, value: params[:friends_count_less], size: 15 %>以下<br>
          </div>
          <div class="form-group">
            <%= f.label :created_at, "Twitter開始時期" %><br>
            <%= f.date_field :created_at, value: params[:created_at] %><br>
          </div>
          <div class="form-group">
            <%= f.label :keyword, "自己紹介に入っているキーワード" %><br>
            <%= f.text_field :keyword, value: params[:keyword], size: 15 %>
            <%= f.hidden_field :next_cursor, value: @next_cursor %>
          </div>
          <div class="form-group">
            <br><%= f.submit " 検索する ", name: "search", class: "button btn btn-dark text-white fw-bold" %><br><br>
          </div>
        <% end %>

        <% if @results.present? %>
          <h3>検索結果</h3>         
            <div class="container mb-5">
              <% @results.each do |x| %>
                <div class="card">
                  <div class="card-body">
                    <%= image_tag(x["profile_image_url_https"], class: 'rounded-circle mr15') %>
                    <h5><%= x["name"] %></h5>
                    <h6><div class="text-secondary">@<%= x["screen_name"] %></div></h6>
                    <h6><%= x["description"] %></h6> 
                    <%= x["followers_count"] %><span class="results_text">フォロワー</span>
                    <%= x["friends_count"] %><span class="results_text">フォロー</span><br>
                    <%= x["created_at"].in_time_zone('Tokyo').strftime('%Y年%m月') %><span class="results_text">開始</span><br><br>
                    <%= button_to " フォロー ", 
                        {controller: 'following_candidates', action: 'following', target_user_id: x["id"]}, 
                        {method: :post, name: 'following', id: "following-button-#{x["id"]}", remote: true, class: "button btn btn-dark text-white fw-bold"} 
                    %>
                  </div>
                </div>
              <% end %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</main>